@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --yellow: #fbbe42;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
/* ============================== header css start ============================== */

.Hero_section_bg {
  background-image: url("./assets/images/Banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  height: 108vh;
}
.header_navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.nav_link {
  display: flex;
}
.nav_link ul {
  display: flex;
  gap: 35px;
  list-style: none;
}
.nav_link ul li a {
  color: white;
}
.login_section {
  display: flex;
  align-items: center;
}
.login_section p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 0;
  cursor: pointer;
}
.login_section ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
}
.login_section p:after {
  content: "";
  border: 1px solid white;
  margin-left: 20px;
}
select {
  width: 67px;
  background: transparent;
  border: 1px solid white;
  border-radius: 7px;
  padding: 5px;
  outline: none;
}
option {
  background-color: #fff;
  border-radius: 7px;
}
option a:hover {
  background-color: var(--yellow);
}
/* mobile menu */
.mobile_menu {
  color: #fff;
  cursor: pointer;
  font-size: 1em;
}
@media only screen and (min-width: 1025px) {
  .mobile_menu {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .nav_link {
    display: none;
  }
  .login_section p {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .hero_section_content {
    padding-top: 0;
  }
  h1 {
    font-size: 30px;
  }
}
/* @media only screen and (min-width: 600px) {
  .hero_section_content h1 {
    font-size: 30px;
  }
} */
/* ============================== Header css end ============================== */

/* ============================== Banner css start ============================== */
.hero_section_content {
  padding-top: 7rem;
}
.hero_section_content h1 {
  color: #fff;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}
.hero_section_content h2 {
  color: #fff;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}
.hero_section_content h3 {
  color: #fff;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.hero_section_content p {
  color: #fff;
  width: 76%;
}
.hero_section_button {
  background-color: #fbbe42;
  outline: none;
  font-size: 20px;
  padding: 10px 30px 10px 30px;
  border: none;
  border-radius: 10px;
}
.hero_section_button:focus, .hero_section_button:active {
  outline: none !important;
  box-shadow: none !important;
}
/* ============================== Banner css end ============================== */

/* .partners_slider {
  background: url('./assets/images/Partners/image\ 26.png'), lightgray 50% / cover no-repeat;
  background: url('./assets/images/Partners/image\ 27.png'), lightgray 50% / cover no-repeat;

} */
.partners_section {
  padding: 60px 0px 60px 0px;
}
.pathners_logo {
  justify-content: space-between;
  display: flex;
  align-items: baseline;
}
.pathners_logo img {
  opacity: 0.2;
}
/* ============================== About css start ============================== */

.about_section {
  padding-top: 6rem;
}
.bg_ellipse img {
  /* width: 80%; */
  height: 31rem;
  width: 31rem;
  background-repeat: no-repeat;
}
.bg_ellipse {
  position: absolute;
  background-color: #d2d2d2;
  border-radius: 50%;
  height: 31rem;
  width: 31rem;
}
.device_img {
  display: flex;
  gap: 28px;
  justify-content: center;
}
.device_img .left_device {
  position: relative;
  width: 170px;
  top: 65px;
}
.device_img .right_device {
  position: relative;
  width: 170px;
  top: -2rem;
}
.right_content {
  padding-right: 25px;
}
.heading {
  color: #000;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
}
.mission_content {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.icon_bg {
  background: #fbbe42;
  padding: 20px;
  height: fit-content;
  border-radius: 10px;
}
.image_section-left_img img {
  float: right;
  width: 130px;
  margin-top: -16rem;
}
.image_section-right_img img {
  margin-top: 200px;
  width: 200px;
}
/* ============================== About css end ============================== */
/* ============================== Our values Section css Start ============================== */

.our_values_section {
  top: -50%;
  position: relative;
  padding-top: 5rem;
  text-align: center;
}
.our_values_heading {
  color: #000;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.values_box {
  width: 300px;
  height: fit-content;
  background: fff;
  box-shadow: 0px 15px 50px 0px rgba(0, 0, 0, 0.09);
  padding: 23px;
  margin-top: 49px;
  position: relative;
  border-radius: 10px;
}
.icon_ {
  background: #ffb800;
  height: 50px;
  width: 50px;
  position: absolute;
  top: -26px;
  left: 40%;
  border-radius: 50%;
  padding: 5px;
}
.content h4 {
  padding-top: 1rem;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px; /* 135% */
  text-transform: capitalize;
}
/* ============================== Our Values Section css end ============================== */
/* ============================== Menu Section css start ============================== */

.menu_section {
  background-image: url("./assets/images/Layer\ 1\ 3.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  /* height: 108vh; */
  width: 100%;
  background-color: #3d3d3d;
}
.menu_left_content,
.base_right_img {
  padding-top: 3rem;
}
.base_right_img {
  text-align: end;
}
.base_heading {
  font-size: 55px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}
/* ==============================  Menu Section css end ============================== */
/* ==============================  Adhoc Section css start ============================== */
.Adhoc_section {
  padding-top: 4rem;
}
.adhoc_box {
  padding-top: 1.5rem;
}
.Adhoc_heading {
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 2rem;
}
.adhoc_icon_bg {
  width: 40px;
  height: 40px;
  background-color: #fbbe42;
  margin-left: 20px;
  position: absolute;
  border-radius: 50%;
  margin-top: 9px;
}
.adhoc_icon {
  position: relative;
  font-size: 45px;
}
.adhoc_box h4 {
  padding-top: 2rem;
}
.adhoc_box p {
  font-size: 13px;
}
/* ==============================  Adhoc Section css end ============================== */
.how_it_works_section {
  padding-top: 5rem;
}
.how_it_works_heading {
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  /* padding-bottom: 2rem; */
}
.works_left_image {
  float: right;
  width: 10%;
  margin-top: -5rem;
}
.how_it_works_section {
  text-align: center;
}
.works_content h1{
  font-weight: 700;
}
.works_section {
  padding: 50px 100px 0px 100px;
}
.works_content {
  padding: 24px 0px 0px 141px;
  text-align: start;
}
.works_content p {
  width: 89%;
}

.line_img {
  padding-top: 2rem;
}